
/* CUSTOM STYLE */
body {
    font-family: 'Fredoka', sans-serif;
}

.navbar-custom {
    height: 120px;
    background-color: #f4f4f4;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #232323;
}

.navbar-custom .navbar-nav .nav-link {
    color: #232323;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #232323;
}

header i     {
    color: #bbbbbb;
}

header i:hover     {
    color: #a1a1a1;
}

header input[name='search'],
header input[name='search']:focus {
    border-radius: 18px;
    background-color: #dedede;
    outline: none;
    box-shadow: none;
    border: none;
}

#search-button {
    border-radius: 0 18px 18px 0;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #dedede;
}


#search-button:hover .fa-search {
    color: #a1a1a1;
}

.logo {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.logo img {
    max-height: 100px;
}

.right-icons {
    position: absolute;
    right: 15%;
}

.profile-photo {
    cursor: pointer;
    position: absolute;
    right: 0;
}

.profile-photo img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.info-car {
    margin-top: 32px;
    padding: 0 110px 0 110px;
}

.veicle-logo p {
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 1px;
    font-size: large;
}

.unit-info p {
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 1px;
    font-size: large;
}

.veicle-logo img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.red {
    color: #c61035;
}

.border-l {
    border-left: 2px solid #dedede;
    height: 90%;
}

.fa-whatsapp {
    color: #27AE60;
}

@media screen and (max-width: 1600px) {
    .right-icons {
        right: 30%;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        transform: translateX(-50%);
        left: 80%;
        position: absolute;
    }

    .border-l {
        border-left: none;
    }
}